<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.template">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".src.ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/icon_ably"
        android:label="AblyCopy"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".src.main.HomeActivity"></activity>
        <activity android:name=".src.main.bottomnavigation.mypage.signup.SignupActivity"></activity>
        <activity android:name=".src.main.bottomnavigation.mypage.signup.SignCheckActivity"></activity>
        <activity android:name=".src.main.bottomnavigation.mypage.signin.SigninActivity"></activity>
        <activity android:name=".src.main.bottomnavigation.home.tab.today.productdetail.ProductdetailActivity"></activity>
        <activity android:name=".src.main.bottomnavigation.home.tab.today.productdetail.order.OrderActivity"></activity>
        <activity android:name=".src.main.AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>